<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Logo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerlink="/">Home</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <strong *ngIf="loggedUserData && loggedUserData.userName">{{loggedUserData.userName}}</strong>
        <button class="btn btn-outline-primary" type="button" *ngIf="!loggedUserData" (click)="onRegister()">Register</button>
        <button class="btn btn-primary" type="button" *ngIf="!loggedUserData" (click)="onLogin()">LogIn</button>
        <button class="btn btn-primary" type="button" *ngIf="loggedUserData && loggedUserData.userName" (click)="onLogOut()">LogOut</button>

      </form>
    </div>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>


<!-- modal -->

<!-- The registration Modal -->
<div class="modal" id="registerModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Register</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="closeRegister()"></button>
      </div>

      <!-- Modal body -->
      <!-- Registeration PAGE -->
      <div class="modal-body">
        <div class="row">
          <div class="col-6">
            <label for="">User Name</label>
            <input type="text" class="form-control"
            [(ngModel)]="registerObj.userName">
          </div>
          <div class="col-6">
            <label for="">Mobile No</label>
            <input type="" class="form-control"
            [(ngModel)]="registerObj.mobileNo">
          </div>
          <div class="col-6">
            <label for=""> Email</label>
            <input type="text" class="form-control"
            [(ngModel)]="registerObj.emailId">
          </div>
          <div class="col-6">
            <label for="">Password</label>
            <input type="password" class="form-control"
            [(ngModel)]="registerObj.password">
          </div>
        </div>

      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="onSave()">Register</button>
      </div>

    </div>
  </div>
</div>


<!-- The Login Modal -->
<div class="modal" id="loginModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Login</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="closeLogin()"></button>
      </div>

      <!-- Modal body -->
      <!-- LOGIN PAGE -->
      <div class="modal-body">
        <div class="row">
          <label for="">User Name</label>
          <input type="text" class="form-control">
        </div>
        <div class="col-3">
          <label for="">Password</label>
          <input type="password" class="form-control">
        </div>
      </div>

    </div>

    <!-- Modal footer -->
    <div class="modal-footer">
      <button type="button" class="btn btn-warning" data-bs-dismiss="modal" class="onSave()">Login</button>
    </div>

  </div>
</div>